{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!
{% endblock %}

{% block body %}
	<div class="container">
		{{ form_start(form)}}
		<button type="submit">ok</button>
		{{ form_end(form)}}
	</div>
{% endblock %}
{% block stylesheets %}{% endblock %}
